@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@700&display=swap');
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#000000;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}
.text-blue {
    color:#233E8B;
}
.text-white {
    color:#FFFFFF;
}
.text-yellow {
    color:#FEDC5A;
}
.bg-blue {
    background-color: #233E8B;
}
.bg-black {
    background-color: #22222D;
}
.bg-offwhite {
    background-color: #FFFFFF80;
}
.bg-little {
    background-color: #F5F5F5;
}
.bg-little-blue {
    background-color: #EDF6FF;
}
.border-blue {
    border-color: #233E8B !important;
}
section {
    padding: 50px 0;
}
.hero {
    background-image: url('../img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
}
.hero-content {
    border-radius: 20px;
    padding: 40px 40px 30px;
    margin: 50px auto auto;
}
ul.top-menu {
    list-style: none;
    padding: 0;
}
ul.top-menu li {
    background-color: #FFFFFF80;
    display: inline-block;
    margin: auto 10px;
    border-radius: 5px;
}
ul.top-menu li a {
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}
.cta .container{
    background-image: url('../img/cta-bg.png');
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.mission {
    background-image: url('../img/mission-bg.png');
}
.mentor-pic {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 185px;
    height: 185px;
}
.mentor-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
@media screen and (min-width:768px) {
    section {
        padding: 100px 0;
    }
    .footer-logo {
        min-height: 500px;
    }

}
@media screen and (max-width:767px) {
    .hero-content {
        padding: 25px 25px 10px;
        margin: 15px auto auto;
    }
    .cta .container {
        padding: 20px;
        text-align: center;
    }
    .mentor-pic {
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        width: 125px;
        height: 125px;
    }
}
