@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@700&display=swap');
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#000000;
    border-top:5px solid #00249C;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}
.text-blue {
    color:#00249C;
}
.text-white {
    color:#FFFFFF;
}
.text-yellow {
    color:#FEDC5A;
}
.text-green {
    color:#00B92B;
}
.bg-blue {
    background-color: #00249C;
}
.bg-black {
    background-color: #22222D;
}
.bg-offwhite {
    background-color: #FFFFFF80;
}
.bg-little {
    background-color: #F5F5F5;
}
.bg-little-blue {
    background-color: #EDF6FF;
}
.bg-yellow {
    background-color: #FFDD00;
}
.border-blue {
    border-color: #233E8B !important;
}
section {
    padding: 50px 0;
}
.hero {
    padding-top: 25px;
    padding-bottom: 0px;
}
ul.top-menu {
    list-style: none;
    padding: 0;
}
ul.top-menu li {
    display: inline-block;
    margin: auto 10px;
}
ul.top-menu li a {
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}
.cta .container{
    background-image: url('../img/cta-bg.png');
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .mission {
    background-image: url('../img/mission-bg.png');
} */
.mentor-pic {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 185px;
    height: 185px;
}
.mentor-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
ul.social {
    line-height: 0;
}
ul.social li {
    display: inline-block;
    padding-right: 10px;
}
ul.social li a {
    width: 24px;
    height: 24px;
    background-image: url('../img/social_media.png');
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
ul.social li a.social-fb {
    background-position: 0 0;
}
ul.social li a.social-insta {
    background-position: -36px 0px;
}
ul.social li a.social-linkdin {
    background-position: -72px 0;
}
ul.social li a.social-youtube {
    background-position: -108px 0;
}
ul.social li a.social-twitter {
    background-position: 24px 0;
}
.op-card {
    min-height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.border-green {
    border:1px solid #00B92B;
}
section.helpyou {
    padding-top: 50px;
}
.helpyou .m-title {
    position: relative;
    top: -25px;
    background-color: #ffffff;
}
.helpyou .cta-section {
    position: relative;
    bottom: -100px;
    margin-top: -50px;
}
.helpyou .container, .helpyou .cta {
    border-radius: 40px;
}
.helpyou .nav-link.active {
    color:#00249C;
    border: none;
    border-bottom: 4px solid #00B92B;
}
.helpyou .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
}
.border-little-blue {
    border:1px solid #89A3FA;
}
.tech-card {
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.tech-card:hover .tech-hover {
    top: 0;
}
.tech-hover {
    position: absolute;
    min-height: 160px;
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
    text-align:left;
    left: 0;
    transition: all .3s ease-out;
    top: 100%;
}
.tech-icon {
    width: 40px;
    height: 40px;
    margin: 0 auto 10px;
    background-image: url('../img/skills-icons.png');
}
.tech-icon.pyton {
    background-position: -15px -15px;
}
.tech-icon.rpa {
    background-position: -15px -66px;
}
.tech-icon.qa {
    background-position: -15px -117px;
}
.tech-icon.ba {
    background-position: -15px -170px;
}
.tech-icon.frontend {
    background-position: -15px -220px;
}
.tech-icon.devops {
    background-position: -15px -273px;
}
.tech-icon.dataeng {
    background-position: -15px -326px;
}
.tech-icon.ml {
    background-position: -15px -378px;
}
@media screen and (min-width:768px) {
    section {
        padding: 100px 0;
    }
    /* .footer-logo {
        min-height: 500px;
    } */

}
@media screen and (max-width:767px) {
    .hero-content {
        padding: 25px 25px 10px;
        margin: 15px auto auto;
    }
    .cta .container {
        padding: 20px;
        text-align: center;
    }
    .mentor-pic {
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        width: 125px;
        height: 125px;
    }
    .helpyou .nav, .helpyou .nav-item {
        display: block;
        border:none;
    }
    .helpyou .nav-item {
        border-bottom: 1px solid #ddd;
    }
    .helpyou .nav-link {
        margin: 0 auto;
    }
    .helpyou .cta {
        margin-bottom: 25px;
    }
    .op-card img {
        max-width: 250px;
    }
    .logo img {
        margin: 0 auto;
        display: block;
    }
    .logo + .text-end {
        text-align: center !important;
    }
    ul.top-menu li {
        margin: auto;
    }
    footer .row div {
        text-align: center !important;
    }
    .cta-btn {
        display: block !important;
    }
    .tech-hover {
        padding: 10px;
        font-size: 12px;
        line-height: 18px;
    }
}
